* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}
body {
    background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}
main div:first-child img:hover {
    cursor: pointer;
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}
main {
    background-color: white;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

}
main div {
    position: relative;
    text-align: center;
}
h2 {
    color: #34355B;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}
p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.4rem 0 2rem 0;
}
.phrase {
    display: block;
    background-color: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.4rem;
    padding: 1rem;
    animation: down-up 1.2s ease-in-out;
}
main a {
    background-color: #FF9500;
    display: inline-block;
    border-radius: .4rem;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 1.6rem;
    text-decoration: none;
    color: white;
}
main a:hover {
    background-color: #d09645;
}

.hide {
    display: none;
}
@keyframes down-up {
    from {
        transform: translateY(150px) scale(0.2);
        opacity: .2;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}